<div class="chat-popup" id="myChatPopup">
    <div class="chat-header">
        <span class="chat-title">Support Chat</span>
        <span class="chat-close" (click)="closeChat()">
            <mat-icon>close</mat-icon>
        </span>
    </div>
    <div class="chat-body">
        @if( messages.length === 0) {
        <div style="text-align: center;">No messages yet.</div>
        }
        <ng-container *ngFor="let message of messages">
            <p [ngClass]="{'user': message.senderId === userid, 'support': message.senderId !== userid}">
                {{ message.text }} {{message.timestamp | date:'HH:MM'}}
            </p>
        </ng-container>
    </div>
    <div class="chat-footer">
        <mat-form-field class="chat-input">
            <input matInput placeholder="Enter message..." [(ngModel)]="message" (keyup.enter)="send()" maxlength="100">
        </mat-form-field>
    </div>
</div>