<form [formGroup]="productForm" class="container" [hidden]="success">
    <hr>
  
    <mat-form-field>
        <input matInput placeholder="Enter name" formControlName="name" required="true">
    </mat-form-field>
  
    <mat-form-field>
        <input matInput placeholder="Enter description" formControlName="description" required="true">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Enter price" value="0" formControlName="price" required="true">
    </mat-form-field>
    
    <mat-form-field  id="category-select">
    <mat-label>Select a category</mat-label>
    <mat-select formControlName="categoryId" required="true">
        @for (category of categories; track category) {
        <mat-option [value]="category.id">{{category.name}}</mat-option>
        }
    </mat-select>
    </mat-form-field>

    <!-- <mat-form-field class="form-field">
        <input matInput placeholder="Enter category id" value="0" formControlName="categoryId" required="true">
    </mat-form-field> -->
  
    <a mat-button color="primary" (click)="addProduct()" type="submit" [disabled]="productForm.invalid" id="product-create">Add Product</a>
  </form>