.cart-popup {
  border: 1px solid #ddd;
  color: black;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  animation:  mymove 0.2s normal;
  animation-timing-function: linear;
}

@keyframes mymove {
  from {transform: translateX(500px);}
  to {transform: translateX(0px);}
}

.cart-items {
  border-radius: 8px;
  padding: 0;
  text-align: center;
}

.cart-heading {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;
  background-color: #673ab7;
  color: white;
  border-radius: 8px 8px 0 0;
  padding: 10px;
}

.cart-item {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.cart-item-details {
  display: contents;
}

.cart-item-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  min-width: unset !important;
  width: 30px;
  margin: 5px;
  padding: 0;
}

.buttons:hover {
  background-color: #673ab7;
  color: white;
}

.checkout-button {
  margin: 10px;
  float: right;
}