<div class="table-container">
  <table mat-table [dataSource]="categories" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


<form [formGroup]="categoryForm" class="container">
  <hr>

  <mat-form-field class="form-field">
      <input matInput placeholder="Enter name" formControlName="name" required="true">
  </mat-form-field>

  <mat-form-field class="form-field">
      <input matInput placeholder="Enter description" formControlName="description" required="true">
  </mat-form-field>

  <a mat-button color="primary" (click)="addCategory()" type="submit" [disabled]="categoryForm.invalid">Add Category</a>
</form>