<div *ngIf="shoppingCart.length === 0" class="empty-cart-message">
  Cart is empty
</div>

<div class="shopping-cart-container" *ngIf="shoppingCart.length > 0">
  <div class="cart-items">
    <div class="cart-heading">
      <div class="cart-item-name">Name</div>
      <div class="cart-item-amount">Quantity</div>
      <div class="cart-item-price">Unit Price</div>
      <div class="cart-item-total-price">Total Price</div>
      <div class="delete-button"></div>
    </div>

    <div *ngFor="let item of shoppingCart; let i = index">
      <div class="cart-item">
        <div class="cart-item-details">
          <div>{{ item.product.name }}</div>
          <div>{{ item.quantity }}</div>
          <div>${{ item.product.price }}</div>
          <div>${{ item.product.price * item.quantity }}</div>
          <div class="delete-button">
            <button mat-flat-button class="increase-button" (click)="increase(item)" type="button"
              matomoClickCategory="Ecommerce" matomoClickAction="IncreaseItem" matomoClickName={{item.product.name}}>
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <br>
            <button mat-flat-button class="decrease-button" (click)="decrease(item)" type="button"
              matomoClickCategory="Ecommerce" matomoClickAction="DecreaseItem" matomoClickName={{item.product.name}}>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-total">
      Grand Total: ${{ total }}
    </div>
  </div>
  <div>
    <button mat-flat-button class="checkout-button" color="accent" [disabled]="!total" (click)="goToCheckout()">Proceed
      to checkout</button>
  </div>
</div>