.support-button {
    background-color: white;
    color: #673ab7;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.shopping-cart {
    top: 65px;
    right: 0px;
    position: fixed;
    z-index: 10;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}