.main-container {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.container {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.split {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.left {
  overflow-y: auto;
}

.right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}

.check-out-form {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}

.shopping-cart-container {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-items {
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  text-align: center;
}

.cart-heading {
  display: flex;
  justify-content: space-between;
  background-color: #673ab7;
  color: white;
  border-radius: 8px 8px 0 0;
  padding: 10px;
}

.cart-item {
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: flex;
  align-items: center;
}

.cart-item-details {
  flex: 1;
  display: flex;
  align-items: center;
}

.cart-item-name,
.cart-item-amount,
.cart-item-price,
.cart-item-total-price {
  flex: 1;
  text-align: center;
}

.cart-total {
  margin-top: 20px;
  text-align: right;
  font-size: 18px;
}

.check-out-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-heading {
  background-color: #f1f1f1;
  text-align: center;
}

.check-out-button {
  margin-top: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.empty-cart-message {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.mat-form-field {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .split {
    width: 100%;
    padding: 10px;
  }

  .right {
    padding-top: 20px;
  }
}

.form-field {
  width: 90%;
}

.footer {
  background-color: #3f51b5;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: relative;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  margin: 0;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}